html body{
  min-height: 100vh;
  background-color: #FAFAFA;
  background: url("/Background_Image.jpg")
    no-repeat center center;
  background-size: cover;
  /* color: #11223a; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#imageDiv {
  width:100%;
  height: 55vh;
  background: url("/FrontPage_Background_Image.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  overflow:hidden;
}

#imgText {
  color: #1C375C;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcomeText {
  color: #1C375C;
  position: absolute;
  top: 85%;
  left: 27%;
  transform: translate(-50%, -50%);
}

.welcomeText h2, #AdminWelcomeText {
  font-family: 'Montserrat', sans-serif;
  color: hsla(240, 80%, 30%, 0.856);
}

#AdminText, #AdminText h2 {
  color: black;
}

.frontPageCards .card {
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.8);
}

#adminCards .card {
  width: 320px;
}


@media (max-width: 767px) {
  #imageDiv {
    background: url("/FrontPage_Background_Image2.jpg") no-repeat center center;
    background-size: cover;
  }

  #imgText {
    text-align: left;
    font-size: 0.9rem;
    top: 30%;
    left: 32%;
  }

  #imageTex #imgText h3 {
    margin-bottom: 0;
  }

  .welcomeText {
    width: 300px;
    font-size: 0.8rem;
    top: 65%;
    left: 45%;
  }

  .image-container a {
    font-size: 0.8rem;
    padding: 3px 6px;
    margin-bottom: 20px;
  }

  .image-container .welcomeText h2 {
    font-size: 1.2rem;
    margin: 0;
  }

  .frontPageCards .card, #adminCards .card {
    height: 168px;
    width: 261px;
    margin-bottom: 10px;
  }
}

/* Medicine Display for the customer */
#medicineDiv {
  width:100%;
  height:200px;
  overflow:hidden;
}

#medicineImg {
  width:100%;
  height:100%;
  object-fit:contain;
}

#manufacturerDiv {
  width: 262px;
  height: 24px;
  overflow: hidden;
}

#manufacturerName {
  width:100%;
  height:100%;
}