.register-page {
  height: 100vh;
  width: 100%;
  background: url("/Login_Background_Image.jpg")
    no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 80px;
}

.register-form-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 10px;
  width: 380px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.register-form-container h2 {
  font-weight: bold;
}

@media (max-width: 767px) {
  .register-page {
    font-size: 0.95rem;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .register-form-container {
    width: 330px;
    padding: 20px 30px;
  }

  .register-form-container input {
    height: 32px;
  }
}